/* font */
@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../vendors/font/GTWalsheim/GTWalsheimPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
  --primary-color: #0c0f0e;
  --btn-subscribe-color: #11a97d;
  --btn-color: #11a97d;
  --box-shadow-sm: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

* {
  font-family: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  /* outline: 1px solid red; */
}

.shadow--main {
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
}

.is-slanted--top-left {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% calc(0% + 4rem));
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% calc(0% + 4rem));
  margin-top: -4rem;
  padding-top: 8rem;
}

section {
  padding: 7rem 0;
}
section.features_section {
  padding: 4rem 0;
}

@media only screen and (max-width: 990px) {
  section {
    padding: 4rem 0;
  }
}

.arrow-link {
  transition: all 300ms ease;
  margin-left: 7px;
}
button:hover .arrow-link {
  transform: translateX(10px);
  transition: transform 300ms ease;
}

.btn {
  transition: all 300ms ease;
}

.btn:hover {
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
  transition: all 300ms ease;
}

/* .content_img_box:hover img{
    transform: scale(0.9);
    transition: 300ms all ease;

}
.content_img_box img{
    transition: 300ms all ease;

} */

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0.4;
  background: #890493;
  /* background: rgba(145,6,154,255); */
}



/* MEET THE TEAM */
.meet_team .square{
    width: 250px;
    height: 200px;
    /* width: 323px;
    height: 271px; */

    border-radius: 16px;
    position: relative;
    display: block;

    background: #FCE4D3;
    object-fit: cover;
    overflow: hidden;

}
.meet_team .square:hover img{
    transform: scale(1.2);
    transition: all 1s ease;

}
.meet_team .square img{
    border-radius: 16px;
    object-fit: cover;
    transition: all 1s ease;
}

/* .meet__team h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #3F3F3F;
}
.meet__team P{
    font-size: 18px;
    line-height: 31px;
    color: #6D747D;
} */




/* footer */

.top-footer {
  padding: 1.25rem 0;
}

.bottom-footer {
  padding: 1rem 0;
  border-top: 1px solid #dadddf;
}

footer .social-icon i {
  font-size: 22px;
}
